@import url("./scene2-right.css");

#scene-2 {
    display: none;
    flex-basis: 0;
    left: 100vw;
}

#scene-2-left {
    flex-grow: 1;
    box-shadow: 5px 0 9px 2px rgba(0, 0, 0, 0.72);
}

#scene-2-left > .left-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

#scene-2-left > .left-container > .container {
    text-decoration: none;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

#scene-2-left a {
    font-size: 20px;
    font-family: "Gmarket Sans Med", serif;
    text-align: center;
    flex-grow: 1;
}

#scene-2-right {
    flex-grow: 4;
    background-color: #2f2f2f;
    color: #ffffff;
    flex-basis: 0;
}

#scene-2 .profile-image {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border: solid 3px #2f2f2f;
    margin-bottom: 25px;
}

.info-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    width: 100%;
    height: 100%;
    flex-grow: 7;
}

.info-content {
    flex-grow: 1;
    padding-left: 125px;
    padding-top: 90px;
}

#scene-2-title-text {
    font-size: 70px;
    text-align: center;
}
