#scene-1 {
    display: none;
}

#scene-1-left {
    flex-grow: 5;
    display: flex;
    overflow: hidden;
}

#scene-1-right {
    flex-grow: 4;
    display: flex;
    flex-direction: row;

    overflow: hidden;
    background-image: url("../images/right.svg");
    background-size: cover;
    position: relative;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.right-profile-container {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right-button-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-button {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-image: url("../images/arrow_icon.svg");
    background-size: cover;

    animation-delay: 1.3s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-name: title-button-bounce;
    animation-iteration-count: infinite;
    position: relative
}

@keyframes title-button-bounce {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(20px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

#scene-1-left > .container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#github-badge {
    display: block;
    width: 50px;
    height: 50px;
    margin: 12px auto 12px auto;
    background-size: cover;
    background-image: url("../images/github_badge.svg");
}

.title-container {
    flex-grow: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#scene-1-title-text {
    margin-left: 25%;
    position: relative;
    opacity: 0;

    animation-name: title-fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}

#scene-1-subtitle-text {
    margin-left: 25.5%;
    position: relative;
    opacity: 0;

    animation-name: title-fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes title-fadeIn {
    from {
        opacity: 0;
        transform: translate(-10px, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}


@keyframes fadeIn {
    0% {
        transform: translate(500px, 0);
        opacity: 0.2;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: translate(0, 0);
    }
}