@import url("scene1.css");
@import url("scene2.css");
@font-face {
    font-family: "Gmarket Sans";
    src: url("../fonts/GmarketSansTTFBold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gmarket Sans Light";
    src: url("../fonts/GmarketSansTTFLight.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Gmarket Sans Med";
    src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
    font-weight: normal;
}
body, h1, h2, p{
    margin: 0;
}
#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: translateZ(0);
    will-change: contents;
}
.container {
    width: 100%;
    height: 100%;
}
.scene {
    width: 100%;
    height: 100%;
    display: flex;
}
.title-text {
    font-family: "Gmarket Sans", serif;
    font-size: 120px;
    color: #2f2f2f;
}

.subtitle-text {
    font-family: "Gmarket Sans", serif;
    font-size: 50px;
    color: #797979;
}
p {
    font-family: 'Gmarket Sans', serif;
    font-size: 20px;
    color: #2f2f2f;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border-color: #F72674;
    border-style: solid;
    border-width: 10px;
    background-size: cover;
    background-image: url("../images/profile.jpg");
}